.moves-list {
    padding-bottom: 50px;

    .activity-preview {
        padding: 10px;
        margin-bottom: 10px;
    }

    .acticity-title {
        font-weight: bold;
    }

    .activity-date {
        font-style: italic;
        color: rgb(139,
                139,
                139);
    }
}