.contact-details {
    .contact-img {
        width: 200px;
    }

    .container {
        margin-bottom: 30px;
    }

    .actions-container {
        button {
            margin-right: 5px;
            min-width: 80px;
        }
    }
}