/* VARS */
$base-white: #d4d3d3;
$purple: #56396c;

html {
  font-size: 16px;
}

/* BASICS */
.App {
  text-align: center;
}

body {
  background-color: #221f2b;
  color: $base-white;
}

a {
  text-decoration: none;
  color: $base-white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
}

p {
  margin: 0;
  margin-bottom: 3px;
}

hr {
  margin: 12px 0;
  border: 0;
  text-align: center;

  &:before {
    content: "\2022 \2022 \2022";
    font-size: 50px;
    color: $purple;
  }
}

button {
  cursor: pointer;
}

.subtitle {
  color: #a0a0a0;
  text-transform: uppercase;
}

/* HELPERS */

.font-large {
  font-size: 1.2rem;
}

.w-full {
  width: 100%;
}

.w-80 {
  width: 80%;
}

// INPUTS

.clean-input {
  padding: 5px;
  margin-bottom: 10px;
  background-color: inherit;
  color: #d4d3d3;
  outline: none;
  border: none;
  border-bottom: 2px solid #d4d3d3;
}

// BUTTONS

.clean-button {
  background-color: inherit;
  border: none;
  color: $base-white;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.purple-btn {
  border-radius: 30px;
  color: $base-white;
  background-color: $purple;

  &:hover {
    background-color: #74528f;
  }

  a {
    color: base-white;
  }
}