/* basics */
.App {
  text-align: center;
}

body {
  background-color: #221f2b;
  color: #d4d3d3;
}

a {
  text-decoration: none;
  color: #d4d3d3;
}

ul {
  list-style: none;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
}

p {
  margin: 0;
  margin-bottom: 3px;
}

.subtitle {
  color: #a0a0a0;
}