.contact-preview {
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    margin: 10px auto;
    text-align: left;

    .contact-img {
        margin-inline-end: 20px;
        width: 50px;
    }
}